<!--The whole content below can be removed with the new code.-->
<div id="root">
  <header class="navbar-fixed-top">
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Florida</a></li>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="cebroker" src="../assets/cebroker.png" alt="cebroker"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Features</a></li>
        <li><a href="#">Account Options</a></li>
        <li><a href="#">Course Search</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizations
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Organization 1</a></li>
            <li><a href="#">Organization 2</a></li>
            <li><a href="#">Organization 3</a></li>
          </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><button class="btn btn-primary">7 day trial</button></li>
      </ul>
    </nav>
  </header>
</div>
