<!--The whole content below can be removed with the new code.-->
<div id="root">
  <header class="navbar-fixed-top">
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Florida</a></li>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="cebroker" src="../assets/cebroker.png" alt="cebroker"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Features</a></li>
        <li><a href="#">Account Options</a></li>
        <li><a href="#">Course Search</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizations
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Organization 1</a></li>
            <li><a href="#">Organization 2</a></li>
            <li><a href="#">Organization 3</a></li>
          </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><button class="btn btn-primary">7 day trial</button></li>
      </ul>
    </nav>
  </header>
  <div id="content">
    <div id="search">
      <h1>Course Search</h1>
      <div class="form-group">
        <input type="text" [(ngModel)]="course" class="form-control" placeholder="Search courses and providers...">
        <span><button class= "btn btn-info" (click)="searchCourse(course)"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
      <div id="information">
        Florida | Registered Nurse Florida
      </div>
    </div>
    <div class="background">
      <div class="courses">
        <div class="featured-courses">
          <h3>Featured Courses</h3>
          <div class="media" *ngFor="let featuredCourse of featuredCourses">
            <div class="media-left">
              <img src ="https://storage.cebroker.com/CEBroker/{{featuredCourse.coursePublication.course.featuredBanner}}" class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{featuredCourse.coursePublication.course.name}}</h4>
              <p class="subtitle">{{featuredCourse.coursePublication.course.provider.name}}</p>
              <p>{{featuredCourse.coursePublication.course.name}} </p>
              <hr>
              <button class="btn btn-info">$23.22</button>
            </div>
          </div>
        </div>
        <div class="coursesInfo" *ngIf="ready">
        <h4 class="totalItems">{{coursesInfo.totalItems}}<span class="results"> Results</span></h4>
        <div class="single-course" *ngFor="let courseInfo of coursesInfo.items">
          <h4>{{courseInfo.course.name}}</h4>
          <p class="subtitle">NATIONAL HEALTHCARE INSTITUTE, INC.</p>
          <p>27 Hrs • Computer-Based Training </p>
          <hr>
          <button class="btn btn-info">$23.22</button>
        </div>
        <nav class="page">
        <ul class="pagination">
            <li *ngFor="let featuredCourse of [coursesInfo.totalItems]">
              <a href="#">1</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

</div>
